/*
keys are in the outer hexagon
degrees are in the middle hexagon. Degrees are the components of scales
notes are in the inner hexagon. Notes are the components of chords
*/

/************* NOTES *****************/

.degree ellipse,
.key ellipse,
.note ellipse {
    stroke-width: 0.9;
    stroke: rgb(138, 138, 138);
    fill: rgb(255 255 255);
}

.selected ellipse {
    stroke-width: 1;
    fill: rgb(247, 231, 33);
    stroke: rgb(247, 231, 33);
}

#path-1,
#path-2,
#path-3,
#path-4 {
    stroke: rgb(138, 138, 138);
    fill: rgb(255, 255, 255);
    paint-order: fill;
    fill-opacity: 0;
    stroke-opacity: 1;
}

:root {
    --factor: 0.5;
}
svg {
    transform: scale(var(--factor));
    -webkit-transform: scale(var(--factor));
    -moz-transform: scale(var(--factor));
    -ms-transform: scale(var(--factor));
    -o-transform: scale(var(--factor));
    width: 100%;
    height: 100%;
}

.container{
    
}

.degree text,
.key text,
.note text,
.note-link text {
    stroke-width: 1;
    stroke: rgb(0, 0, 0);
    fill: rgb(51 51 51);
    font-family: Arial, sans-serif;
    white-space: pre;
}

.note-link path {
    fill: rgb(255, 255, 255);
    stroke: rgb(0, 0, 0);
}

.note text {
    font-size: 14px;
}

.key text {
    font-size: 18px;
}

.degree text {
    font-size: 14px;
}

.note-link text {
    font-size: 10px;
}