@import url(https://fonts.googleapis.com/css?family=Exo+2:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Baloo);
@import url(https://fonts.googleapis.com/css?family=Martel:900);

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v129/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.footer,
.main {
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    border: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-family: "Exo 2", sans-serif;
    font-size: 18px;
    font-size: 1.8rem;
}

body embed,
body img,
body object,
body video {
    max-width: 100%;
    height: inherit;
}

.container {
    display: grid;
    padding: 0 5%;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main-content main-content""content-2 content-2"
        "content-4 content-4""content-3 content-3""footer footer";
}

.main-content {
    grid-area: main-content;
    justify-self: center;
}

@media (min-width: 770px) {
    .circle-container li button {
            font-size: 24px;
            font-size: 2.4rem;
    }

    .container {
        grid-gap: 1rem;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-areas: "main-content content-2 content-2"
            "main-content content-3 content-4""footer footer footer";
    }

    .main-content {
        justify-self: right;
        padding-right: 45px;
    }
}

.content-2 {
    grid-area: content-2;
}

.content-3 {
    grid-area: content-3;
}

.content-4 {
    grid-area: content-4;
}

.footer {
    grid-area: footer;
    margin-top: 5rem;
}

.main {
    margin: 1rem 1em 2rem;
    overflow: hidden;
}

h1 {
    font-family: Martel, serif;
}

sup {
    vertical-align: super;
    font-size: 12px;
    font-size: 1.2rem;
}

.circle-container {
    border: 5px solid #8a827d;
    position: relative;
    width: 13em;
    height: 13em;
    padding: 0;
    border-radius: 50%;
    list-style: none;
}

.circle-container>* {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.2em;
    height: 2.2em;
    margin: -1.1em;
}

.circle-container> :nth-of-type(1) {
    -webkit-transform: rotate(0) translate(6.5em) rotate(0);
    transform: rotate(0) translate(6.5em) rotate(0);
}

.circle-container> :nth-of-type(2) {
    -webkit-transform: rotate(30deg) translate(6.5em) rotate(-30deg);
    transform: rotate(30deg) translate(6.5em) rotate(-30deg);
}

.circle-container> :nth-of-type(3) {
    -webkit-transform: rotate(60deg) translate(6.5em) rotate(-60deg);
    transform: rotate(60deg) translate(6.5em) rotate(-60deg);
}

.circle-container> :nth-of-type(4) {
    -webkit-transform: rotate(90deg) translate(6.5em) rotate(-90deg);
    transform: rotate(90deg) translate(6.5em) rotate(-90deg);
}

.circle-container> :nth-of-type(5) {
    -webkit-transform: rotate(120deg) translate(6.5em) rotate(-120deg);
    transform: rotate(120deg) translate(6.5em) rotate(-120deg);
}

.circle-container> :nth-of-type(6) {
    -webkit-transform: rotate(150deg) translate(6.5em) rotate(-150deg);
    transform: rotate(150deg) translate(6.5em) rotate(-150deg);
}

.circle-container> :nth-of-type(7) {
    -webkit-transform: rotate(180deg) translate(6.5em) rotate(-180deg);
    transform: rotate(180deg) translate(6.5em) rotate(-180deg);
}

.circle-container> :nth-of-type(8) {
    -webkit-transform: rotate(210deg) translate(6.5em) rotate(-210deg);
    transform: rotate(210deg) translate(6.5em) rotate(-210deg);
}

.circle-container> :nth-of-type(9) {
    -webkit-transform: rotate(240deg) translate(6.5em) rotate(-240deg);
    transform: rotate(240deg) translate(6.5em) rotate(-240deg);
}

.circle-container> :nth-of-type(10) {
    -webkit-transform: rotate(270deg) translate(6.5em) rotate(-270deg);
    transform: rotate(270deg) translate(6.5em) rotate(-270deg);
}

.circle-container> :nth-of-type(11) {
    -webkit-transform: rotate(300deg) translate(6.5em) rotate(-300deg);
    transform: rotate(300deg) translate(6.5em) rotate(-300deg);
}

.circle-container> :nth-of-type(12) {
    -webkit-transform: rotate(330deg) translate(6.5em) rotate(-330deg);
    transform: rotate(330deg) translate(6.5em) rotate(-330deg);
}

@media (min-width: 770px) {
    .circle-container {
        position: relative;
        width: 18em;
        height: 18em;
        padding: 0;
        border-radius: 50%;
        list-style: none;
    }

    .circle-container>* {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3em;
        height: 3em;
        margin: -1.5em;
    }

    .circle-container> :nth-of-type(1) {
        -webkit-transform: rotate(0) translate(9em) rotate(0);
        transform: rotate(0) translate(9em) rotate(0);
    }

    .circle-container> :nth-of-type(2) {
        -webkit-transform: rotate(30deg) translate(9em) rotate(-30deg);
        transform: rotate(30deg) translate(9em) rotate(-30deg);
    }

    .circle-container> :nth-of-type(3) {
        -webkit-transform: rotate(60deg) translate(9em) rotate(-60deg);
        transform: rotate(60deg) translate(9em) rotate(-60deg);
    }

    .circle-container> :nth-of-type(4) {
        -webkit-transform: rotate(90deg) translate(9em) rotate(-90deg);
        transform: rotate(90deg) translate(9em) rotate(-90deg);
    }

    .circle-container> :nth-of-type(5) {
        -webkit-transform: rotate(120deg) translate(9em) rotate(-120deg);
        transform: rotate(120deg) translate(9em) rotate(-120deg);
    }

    .circle-container> :nth-of-type(6) {
        -webkit-transform: rotate(150deg) translate(9em) rotate(-150deg);
        transform: rotate(150deg) translate(9em) rotate(-150deg);
    }

    .circle-container> :nth-of-type(7) {
        -webkit-transform: rotate(180deg) translate(9em) rotate(-180deg);
        transform: rotate(180deg) translate(9em) rotate(-180deg);
    }

    .circle-container> :nth-of-type(8) {
        -webkit-transform: rotate(210deg) translate(9em) rotate(-210deg);
        transform: rotate(210deg) translate(9em) rotate(-210deg);
    }

    .circle-container> :nth-of-type(9) {
        -webkit-transform: rotate(240deg) translate(9em) rotate(-240deg);
        transform: rotate(240deg) translate(9em) rotate(-240deg);
    }

    .circle-container> :nth-of-type(10) {
        -webkit-transform: rotate(270deg) translate(9em) rotate(-270deg);
        transform: rotate(270deg) translate(9em) rotate(-270deg);
    }

    .circle-container> :nth-of-type(11) {
        -webkit-transform: rotate(300deg) translate(9em) rotate(-300deg);
        transform: rotate(300deg) translate(9em) rotate(-300deg);
    }

    .circle-container> :nth-of-type(12) {
        -webkit-transform: rotate(330deg) translate(9em) rotate(-330deg);
        transform: rotate(330deg) translate(9em) rotate(-330deg);
    }
}

.circle-container li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.circle-container li button {
    font-family: Baloo, cursive;
    background: #8a827d;
    color: #0c4d58;
    font-size: 18px;
    font-size: 1.8rem;
    width: 100%;
    font-weight: 700;
    border-radius: 50%;
    border: none;
}

.circle-container li button:hover {
    background: #d3d3d3;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.circle-container li.key button {
    background: #ff0;
}

.circle-container li.dominant button {
    background: orange;
    -webkit-transition: 3s;
    transition: 3s;
}

.circle-container li.subdominant button {
    background: #0ff;
    -webkit-transition: 3s;
    transition: 3s;
}

.card#results {
    visibility: hidden;
}

.card#results.active {
    visibility: visible;
    -webkit-transition: 5s;
    transition: 5s;
}

.staff {
    visibility: hidden;
}

.staff.active {
    visibility: visible;
}
/*# sourceMappingURL=style.css.map */